@page "/admin/delivered/{Id:int}"
@inject IOrderService db
@inject NavigationManager nav
@inject IJSRuntime _jsrun
@inject ITokenService tok
<h3>Delivered</h3>

@code {
    [Parameter]
    public int Id { get; set; }
    protected async override Task OnInitializedAsync()
    {
        string token = tok.GetAdminToken();
        string d = tok.GetUserType();
        if (d.Equals("Admin"))
        {
            var data = await db.ValidateisDelieredOrder(Id,token);
            await _jsrun.InvokeVoidAsync("ShowToastr", "success", "Order is delivered!");
            nav.NavigateTo("admin/orderprocess");
        }
        else
        {
            await _jsrun.InvokeVoidAsync("ShowToastr", "error", "Register or Login first!");
            nav.NavigateTo("login/register");
        }

    }
}