@page "/admin/processing/{Id:int}"
@inject IOrderService db
@inject NavigationManager nav
@inject IJSRuntime _jsrun
@inject ITokenService tok
<h3>Orderprocessing</h3>

@code {
    [Parameter]
    public int Id { get; set; }
    protected async override Task OnInitializedAsync()
    {
        string token = await tok.GetAdminToken();
        string d = tok.GetUserType();
        if (d.Equals("Admin"))
        {
            var d1 = await db.OrderIsPreparing(Id,token);
            await _jsrun.InvokeVoidAsync("ShowToastr", "success", "Preparation of Order started");
            nav.NavigateTo("admin/orderprocess");
        }
        else
        {
            await _jsrun.InvokeVoidAsync("ShowToastr", "error", "Register or Login first!");
            nav.NavigateTo("login/register");
        }


    }
}