@page "/"

<PageTitle>Welcome!</PageTitle>
<section class="summary">
    <h2>Welcome Our eShop!!</h2>
    <h3>Spicy Delicious Foods,Delivered To You</h3>
    <p>
        Choose Your favourite fast foods from your broad selection of available 
        fast foods and enjoy a tasty food time.
    </p>
    <p>
        All foods are prepared with high quality products,just in time and of course
        by experienced people!
         <br />
        <b>Happy FOODING!!</b>
    </p>
</section>