@inherits LayoutComponentBase

<PageTitle>BlazorFastFood</PageTitle>

<NavLink href="@($"login/logout")" class="logbut">Logout</NavLink>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        
        <article class="content px-4">
            
            @Body
        </article>
    </main>
</div>