@page "/item/active/{d:int}"
@inject IItemService db
@inject NavigationManager nav
@inject IJSRuntime _jsrun
@inject ITokenService tok
<h3>ActivateItem</h3>
@code {
    [Parameter]
    public int d { get; set; }
    protected async override Task OnInitializedAsync()
    {
        string token = await tok.GetAdminToken();
        string data = tok.GetUserType();
        if(data.Equals("Admin"))
        {
            var d1 = await db.ActivateItem(d,token);
            if (d1.Message.Equals("Unauthorized"))
            {
                await _jsrun.InvokeVoidAsync("ShowToastr", "error", "Unauthorized!");
                nav.NavigateTo("login/register");
            }
            if(d1!=null && d1.IsSuccess==true)
            {
                await _jsrun.InvokeVoidAsync("ShowToastr", "success", "Item Activated!");
            }
            nav.NavigateTo("item/getall");
        }
        else
        {
            await _jsrun.InvokeVoidAsync("ShowToastr", "error", "Register or Login first!");
            nav.NavigateTo("login/register");
        }


    }
}